In [1]:
# Importing dependencied
import pandas as pd
import numpy as np

In [2]:
# Creating pandas dataframe
Can_Trade = pd.read_csv('12100119.csv', index_col=False)

# Viewing dataframe
Can_Trade

C:\Users\omarr\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,REF_DATE,GEO,DGUID,Trade,North American Product Classification System (NAPCS),Principal trading partners,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1997-01,Canada,2016A000011124,Import,Total of all merchandise,All countries,Dollars,81,thousands,3,v1001809229,1.1.1.1,20677358,NaN,NaN,NaN,0
1,1997-01,Canada,2016A000011124,Import,Total of all merchandise,United States,Dollars,81,thousands,3,v1001809230,1.1.1.2,13615267,NaN,NaN,NaN,0
2,1997-01,Canada,2016A000011124,Import,Total of all merchandise,China,Dollars,81,thousands,3,v1001809231,1.1.1.3,496444,NaN,NaN,NaN,0
3,1997-01,Canada,2016A000011124,Import,Total of all merchandise,Mexico,Dollars,81,thousands,3,v1001809232,1.1.1.4,495149,NaN,NaN,NaN,0
4,1997-01,Canada,2016A000011124,Import,Total of all merchandise,United Kingdom,Dollars,81,thousands,3,v1001809233,1.1.1.5,516913,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3336068,2022-07,Nunavut,2016A000262,Domestic export,Special transactions trade [C23],Iraq,Dollars,81,thousands,3,v1001825812,15.2.13.25,0,NaN,NaN,NaN,0
3336069,2022-07,Nunavut,2016A000262,Domestic export,Special transactions trade [C23],Indonesia,Dollars,81,thousands,3,v1001825813,15.2.13.26,0,NaN,NaN,NaN,0
3336070,2022-07,Nunavut,2016A000262,Domestic export,Special transactions trade [C23],Singapore,Dollars,81,thousands,3,v1001825814,15.2.13.27,0,NaN,NaN,NaN,0
3336071,2022-07,Nunavut,2016A000262,Domestic export,Special transactions trade [C23],Russian Federation,Dollars,81,thousands,3,v1001825815,15.2.13.28,0,NaN,NaN,NaN,0
3336072,2022-07,Nunavut,2016A000262,Domestic export,Special transactions trade [C23],Other countries,Dollars,81,thousands,3,v1001825816,15.2.13.29,0,NaN,NaN,NaN,0

In [ ]:
# Cleaning the dataframe

# Removing unimportant columns
Canada_Trade_df = Can_Trade.drop(columns=['DGUID', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS', 'COORDINATE'])

# Removing specific rows that will lead to double counting
Canada_Trade_df = Canada_Trade_df.drop(Canada_Trade_df[(Canada_Trade_df['GEO']=='Canada') & (Canada_Trade_df['Trade']!='Re-export')].index)
Canada_Trade_df = Canada_Trade_df.drop(Canada_Trade_df[(Canada_Trade_df['Principal trading partners']=='All countries')].index)
Canada_Trade_df = Canada_Trade_df.drop(Canada_Trade_df[(Canada_Trade_df['North American Product Classification System (NAPCS)']=='Total of all merchandise')].index)

# Multiplying the VALUE column by 1000 to correct the values to the exact dollar amount
Canada_Trade_df['VALUE'] = Canada_Trade_df['VALUE']*1000

# Inserting commas to the VALUE column and converting it back to 
Canada_Trade_df['VALUE'] = Canada_Trade_df.apply(lambda x: "{:,}".format(x['VALUE']), axis=1)
Canada_Trade_df

In [11]:
Canada_Trade_df.dtypes

REF_DATE                                                object
GEO                                                     object
Trade                                                   object
North American Product Classification System (NAPCS)    object
Principal trading partners                              object
VALUE                                                   object
dtype: object

In [13]:
Canada_Trade_df.keys()

Index(['REF_DATE', 'GEO', 'Trade',
       'North American Product Classification System (NAPCS)',
       'Principal trading partners', 'VALUE'],
      dtype='object')

In [14]:
Canada_Trade_df.to_csv('Canada_Trade_Data.csv', index=False)